<html>
  <head>
    <meta charset="UTF-8">
    <title>Football Kits</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body id="home">
    <nav>
      <div>
        <a href="../index.html">Football Kits</a>
      </div>
    </nav> 
    <div id="content">
      <h1>About</h1>
      <p>I have a particular fondness for football kits. I feel like each one tells a bit of a story about the club. Many clubs have storied histories of colors and/or patters for their kits. When a club deviates from their history, it is always big news. </p>
      <P>Then you have sponsors with huge clubs like Arsenal being sponsored by a worldwide airline like Emirates to smaller clubs sponsored by a local company. You can get a sense of the importance of a club based on their sponsor.</P>
      <p>While the Wikipedia will often have a spot showing off the design for a club's kit, it doesn't have a great way to see a history of the kit through the years. Because of this, I wanted to develop a site that could be relatively easily maintained by anyone interested in this topic. This site is built with code hosted on <a href="https://github.com/markahrens/football-kits">Github</a>. Anyone can fork the project to add or edit data for a club using the instructions there. I am excited to see where this can go!</p>
      <p>--<a href="http://markahrens.co">Mark Ahrens</a></p>
        
      </ul>
    </div>
  </body>
</html>