<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About | Football Kits</title>
            <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="About the football kits project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body id="home">
    <nav>
      <div>
        <a href="index.html" class="home-link">Football Kits</a>
        <a href="about.html">About</a> | <a href="https://github.com/markahrens/football-kits">Contribute</a>
      </div>
    </nav> 
    <div id="content">
      <h1>About</h1>
      <p>I have a particular fondness for football kits. I feel like each one tells a bit of a story about the club. Many clubs have storied histories of colors and/or patters for their kits. When a club deviates from their history, it is always big news. </p>
      <P>Then you have sponsors with huge clubs like Arsenal being sponsored by a worldwide airline like Emirates to smaller clubs sponsored by a local company. You can get a sense of the importance of a club based on their sponsor.</P>
      <p>While the Wikipedia will often have a spot showing off the design for a club's kit, it doesn't have a great way to see a history of the kit through the years. Because of this, I wanted to develop a site that could be relatively easily maintained by anyone interested in this topic. This site is built with code hosted on <strong><a href="https://github.com/markahrens/football-kits">Github</a></strong>. Anyone can fork the project to add or edit data for a club using the instructions there. I am excited to see where this can go!</p>
      <p>--<a href="http://markahrens.co">Mark Ahrens</a></p>
        
      </ul>
    </div>
  </body>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86307005-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>